<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

- Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [76]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/main/noarch         [>                   ] (--:--) No change
pkgs/main/noarch         [====================] (00m:00s) No change
pkgs/r/linux-64          [>                   ] (--:--) No change
pkgs/r/linux-64          [====================] (00m:00s) No change
pkgs/r/noarch            [>                   ] (--:--) No change
pkgs/r/noarch            [====================] (00m:00s) No change
pkgs/main/linux-64       [>                   ] (--:--) No change
pkgs/main/linux-64       [====================] (00m:00s) No change

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  All requested packages already installed


                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['html5lib==1.1']

pkgs/main/linux-64       Using cache
pkgs/main/noarch         Using cache
pkgs/r/linux-64          Using cache
pkgs/r/noarch            Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  All requested packages already installed

## Imports

Import any additional libraries you may need here.

In [78]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage https://en.wikipedia.org/wiki/List_of_largest_banks provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [140]:
#Write your code here
url_get = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
dataRequest = requests.get(url_get)
html_data = dataRequest.text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [80]:
html_data[483:506]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [189]:
soup = BeautifulSoup(html_data, "html5lib")
#print(soup)

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [190]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[2].find_all('tr'):
    col = row.find_all('td')
    if col:
        name = col[1].text.strip()
        market_cap = col[2].text.strip()
        data = data.append({"Name": name, "Market Cap (US$ Billion)": market_cap}, ignore_index=True)

print(data)

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                   368.78
1   Industrial and Commercial Bank of China                   295.65
2                           Bank of America                   279.73
3                               Wells Fargo                   214.34
4                   China Construction Bank                   207.98
5                Agricultural Bank of China                   181.49
6                         HSBC Holdings PLC                   169.47
7                            Citigroup Inc.                   163.58
8                             Bank of China                   151.15
9                      China Merchants Bank                   133.37
10                     Royal Bank of Canada                   113.80
11                    Toronto-Dominion Bank                   106.61
12                        Commonwealth Bank                    99.77
13                            Itaú Unibanco                    85.68
14                             U.S. Bancorp                    84.40
15                            Goldman Sachs                    78.70
16                          Banco Santander                    75.47
17                           Morgan Stanley                    73.93
18                                  Westpac                    67.84
19           Mitsubishi UFJ Financial Group                    66.20
20                               Scotiabank                    65.48
21                   PNC Financial Services                    63.11
22                   Bank of Communications                    61.85
23                              BNP Paribas                    59.36
24  Australia and New Zealand Banking Group                    54.88
25                  National Australia Bank                    51.68
26                     Lloyds Banking Group                    51.19
27          Sumitomo Mitsui Financial Group                    49.85
28                         Bank of Montreal                    48.12
29                                      UBS                    45.92
30                                ING Group                    44.97
31                              Capital One                    43.22
32              The Bank of New York Mellon                    42.58
33                      China Minsheng Bank                    39.13
34                         China CITIC Bank                    38.55
35          Banco Bilbao Vizcaya Argentaria                    37.42
36                   Mizuho Financial Group                    36.95
37                          Intesa Sanpaolo                    36.90
38                          Crédit Agricole                    34.89
39       Canadian Imperial Bank of Commerce                    34.87
40                            NatWest Group                    33.95
41                                 Barclays                    33.26
42                            Credit Suisse                    30.75
43                                   Nordea                    29.59
44                       Standard Chartered                    29.37
45                                 KBC Bank                    27.40
46                                UniCredit                    26.88
47                         Société Générale                    21.27
48                            Deutsche Bank                    15.77

**Question 3** Display the first five rows using the `head` function.

In [191]:
#Write your code here
data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                   368.78
1  Industrial and Commercial Bank of China                   295.65
2                          Bank of America                   279.73
3                              Wells Fargo                   214.34
4                  China Construction Bank                   207.98


### Loading the Data

Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function.

In [ ]:
#Write your code here
data.to_json('bank_market')

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-07-12        | 0.2     | Appalabhaktula Hema | Corrected the code and markdown |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.